<form action="/diagnostico">
  <label for="fname">Edad:</label><br>
  <input type="text" id="age" name="age" value=""><br>
  <label for="lname">Sexo:</label><br>
  <input type="text" id="sex" name="sex" value=""><br>
  <label for="lname">Tipo de dolor en el pecho:</label><br>
  <input type="text" id="chest" name="chest" value=""><br>
  <label for="lname">BP en reposo:</label><br>
  <input type="text" id="bp" name="bp" value=""><br>
  <label for="lname">Colesterol:</label><br>
  <input type="text" id="cholesterol" name="cholesterol" value=""><br>
  <label for="lname">Glucemia en ayunas:</label><br>
  <input type="text" id="sugar" name="sugar" value=""><br>
  <label for="lname">ECG en reposo:</label><br>
  <input type="text" id="ecg" name="ecg" value=""><br>
  <label for="lname">Ritmo cardiaco:</label><br>
  <input type="text" id="rate" name="rate" value=""><br>
  <label for="lname">Ejercicio angina:</label><br>
  <input type="text" id="angina" name="angina" value=""><br>
  <label for="lname">Oldpeak:</label><br>
  <input type="text" id="oldpeak" name="oldpeak" value=""><br>
  <label for="lname">Pendiente ST:</label><br>
  <input type="text" id="ST" name="ST" value=""><br><br>
  <input type="submit" value="Submit">
</form>